<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcCF90kJB1enEya7i7isXPNl2OWV-DY0A</string>
	<key>GCM_SENDER_ID</key>
	<string>313979457951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melisozkurt.MyProject</string>
	<key>PROJECT_ID</key>
	<string>restaurantapp-a8bbe</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantapp-a8bbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313979457951:ios:878abd0b7641c302a4adaa</string>
</dict>
</plist>